<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBX3P0doeBXtiPDXJG_O1pJu5MpC2fT9gc</string>
	<key>GCM_SENDER_ID</key>
	<string>69005762038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.betterminthealth</string>
	<key>PROJECT_ID</key>
	<string>bettermint-f6c61</string>
	<key>STORAGE_BUCKET</key>
	<string>bettermint-f6c61.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69005762038:ios:9cd1ff09b38a08b110bbd7</string>
</dict>
</plist>